---
layout: default
title: "Home"
---
<p>Hello, I'm Cyndi, your personal hunter of knowledge. Welcome to my website. I primarily blog about the same subjects as my [YouTube channel](https://youtube.com/@cyndi5hunt) videos, that is electronics hobbyist, computer science, and microcontrollers, with some other things thrown in sometimes. Enjoy, and be sure to [subscribe to my channel](https://youtube.com/@cyndi5hunt) to view my latest videos. Thank you for visiting!</p>

<p>Charles \"Cyndi\" Cavanaugh, Ph.D. (she/her)</p>

<img alt="Cyndi Cavanaugh" src="/assets/images/cyndi-cavanaugh.jpg" style="height: 17rem; width: auto;" />

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
